# Python
*.pyc
__pycache__/
venv/
db.sqlite3

# Media & Uploads
/media/
backend/media/

# Environment Variables & Secrets
.env
.env.*
!.env.example


# Frontend
frontend/node_modules/
frontend/dist/
dist_package/

# Temp files & Memory
create_dummy_messages.py
.mempalace
entities.json
mempalace.yaml
